    <div class="container_details card" >
        <div class="title_btnClose">
            <h4>Detalles del Cliente</h4>
            <button class="waves-effect waves-light btn lista_clientes" id="close-details">
                <i class="material-icons">close</i>
            </button>
        </div>
        <div class="card-content card-title">
            <div class="perfil_clientId">
                <p>Nombre: <%= client.name %> <%= client.lastname %></p>
                <p>Email: <%= client.email %></p>
                <p>Contacto: <%= client.contact %></p>
                <p>Fecha del Evento: <%= client.eventDate.toDateString() %></p>
                <p>Tipo de Salón: <%= client.salonType %></p>
            </div>
            <div class="card-content">
                <span class="card-title activator">Ver registro de pagos<i class="material-icons right">arrow_upward</i></span>
            </div>
        </div>
            <div class="card-reveal">
                <span class="card-title">Pagos y Totales<i class="material-icons right">close</i></span>
                <!-- Buscador por fecha -->
            <div class="input-field">
                <input type="text" id="searchDate" placeholder="Buscar por fecha: (DD/MM/AAAA)">
                <span id="noResultsMessage" class="red-text" style="display: none;">No se encontraron pagos en la fecha ingresada. Por favor, revise la fecha y vuelva a intentar.</span>
            </div>
                <table >
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Monto por Niños</th>
                            <th>Monto por Adultos</th>
                            <th>Detalles Específicos</th>
                        </tr>
                    </thead>
                    <tbody id="paymentsTableBody">
                        <% client.payments.forEach(payment => { %>
                            <tr>
                                <td class="payment-date">
                                    <%= payment.date.getDate().toString().padStart(2, '0') %>/<%= (payment.date.getMonth() + 1).toString().padStart(2, '0') %>/<%= payment.date.getFullYear() %>
                                </td> <!-- asi aparece ok la fecha -->
                                <td><%= payment.amountChild %></td>
                                <td><%= payment.amountAdult %></td>
                                <td><%= payment.specificDetails %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <h5>Totales:</h5>
                <p>Total pagado por Niños: <%= client.payments.reduce((sum, payment) => sum + payment.amountChild, 0) %></p>
                <p>Total pagado por Adultos: <%= client.payments.reduce((sum, payment) => sum + payment.amountAdult, 0) %></p>
            </div>
    </div>
