<!-- Para esta vista tengo que loguearme como admin  -->

<%- include('layouts/main.ejs') %>
<div class="container perfil">
    <div class="row">
        <div class="col s3 my-custom-column"><h4>Perfil:</h4></div>
        <div class="col s3 my-custom-column"><h4><%= user.role %></h4></div>
        <div class="col s3 my-custom-column"><h4>Id: <%= user.email %></h4></div>
    </div>
</div>
<div class="dashboard">
    <div class="formCreateClient">
        <!-- Formulario HTML para crear un nuevo cliente -->
        <form action="/perfilAdmin/createClient" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
            <label for="lastname">Apellido:</label>
            <input type="text" id="lastname" name="lastname" required>
            <label for="contact">Contacto:</label>
            <input type="text" id="contact" name="contact">
            <label for="details">Detalles:</label>
            <textarea id="details" name="details"></textarea>
            <label for="role">Rol:</label>
            <select id="role" name="role">
                <option value="cliente" selected>Cliente</option>
            </select>
            <button type="submit">Crear Cliente</button>
        </form>
    </div>
    <!-- Vista lista de clientes si hay -->
    <div class="listaClientes">
        <h1>Lista de Clientes</h1>
        <% if (clients.length > 0) { %>
            <ul>
                <% clients.forEach(client => { %>
                    <li>
                        <p>Email: <%= client.email %></p>
                        <p>Nombre: <%= client.name %></p>
                        <p>Apellido: <%= client.lastname %></p>
                         <!-- Botones de editar y eliminar -->
                    <div>
                        <a href="/perfilAdmin/update/<%= client._id %>">Editar</a>
                        <form action="/perfilAdmin/delete/<%= client._id %>" method="POST" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este cliente?');">
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                    </li>
                    <% }); %>
                </ul>
        <% } else { %>
            <p>No hay clientes en la base de datos.</p>
        <% } %>
    </div>
                
</div>
<%- include('layouts/footer.ejs') %>